#list, #table, #form, #calc{
	background-color: #f9c6cf; 
	padding: 0 10px 10px 10px;
}

nav {
	background-color:#f9c6cf;
	padding: 10px;
}
footer, header {
	height: 120px;
	background-color:#f9c6cf;
}

body {
	background: #ffebee;
}

#logo {
	border-radius: 50%;
	float:left;
	height: 90%;
}

#name {
	font-size: 30pt;
}

.odd_line {
	background: #ff8fa2;
}

.even_line {
	background: #f3e5ab;
}

table {
	border: 1px black;
}

tr {
	border: 1px #242424;	
}

nav ul {
	list-style-type: none;
}

li a img {
	height: 60%;
	width: 60%;
}

#labelCalc {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	li a img {
		height: 35%;
		width: 35%;
	}
}
